body{
    margin: 1%;
    padding: 5%;
    font-size: 100%;
}

h1{
    font-size: 200%;
    font-weight: bold;
}

h2{
    font-size: 150%;
    font-style: oblique;
}

ul{
    list-style: disc;
}

img{
    width: 25%;
    border: 3px dotted #0000ff;
    padding: 25px;
    border-radius: 20px;
    margin: 10px;
}

img.banner{
    width: 100%;
}

div > div{
    background-color: #ffff00;
}

div > h2{
    color: red;
}

li.highlight{
    background-color: aqua;
    text-transform: uppercase;
}